 <!--Clients-->
 <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">
  
        <div class="col-3">
  
            <div>
                <h3 class ="text-color">ConstactUs Form</h3>
                <h2 class="section-title">Please Contact us! We Here for you...</h2>
                
            </div>
  
        </div>
  
        <div class="col-2-3">
  
          <div>
            <form action="/action_page.php">
                <div class="imgcontainer">
                  <img src="../../assets/images/banner-images/banner-image-1.jpg" alt="Avatar" class="avatar">
                </div>
              
                <div class="container">
                  <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="email" required>
  
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" required>
              
                  <label for="email"><b>Type Compain Here</b></label><br>
                  <textarea rows="4" cols="50">
                  
                  </textarea>


               
                      
                  <button type="submit">Submit</button>
                
                </div>
            
              </form>  
          </div>
  
         
           
        </div>
  
    </div>
  </section>
  <!--End of Clients-->
  