 <!--Clients-->
 <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div>
                <h3 class ="text-color">Login Form</h3>
                <h2 class="section-title">You should Login First Then go to Test</h2>
                
            </div>

        </div>

        <div class="col-2-3">

          <div>
            <form action="/action_page.php">
                <div class="imgcontainer">
                  <img src="../../assets/images/banner-images/banner-image-1.jpg" alt="Avatar" class="avatar">
                </div>
              
                <div class="container">
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
                      
                  <button type="submit">Login</button>
                
                </div>
              
                <div class="container" style="background-color:#f1f1f1">
                  <button type="button" class="cancelbtn"><a routerLink="/signup">Create Account</a></button>
                 
                </div>
              </form>  
          </div>

         
           
        </div>

    </div>
</section>
<!--End of Clients-->